[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
accelerator-toolbox = "==0.1.0"
acss-core = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
